<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>771897341849-k0gbvjdi0ejubi6v2mrpkki2qfhl1hds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771897341849-k0gbvjdi0ejubi6v2mrpkki2qfhl1hds</string>
	<key>API_KEY</key>
	<string>AIzaSyDZfzASwF9mn66nYDqm6636sMcKxenv4cU</string>
	<key>GCM_SENDER_ID</key>
	<string>771897341849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iselacherdsf.BottleServiceApp</string>
	<key>PROJECT_ID</key>
	<string>bottleservice-9f5dc</string>
	<key>STORAGE_BUCKET</key>
	<string>bottleservice-9f5dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:771897341849:ios:95b8ec4483ea2870</string>
	<key>DATABASE_URL</key>
	<string>https://bottleservice-9f5dc.firebaseio.com</string>
</dict>
</plist>
